extends ../layout

append scripts
  script.
    var cards = JSON.parse('!{cards}');
    $(function () {
      var container = $('.container');
      console.log(cards.length);
      cards && container.append($(Handlebars.templates.admin_list(cards)));
    });

block content
  .container
    h3.text-center: i.fa.fa-list-alt
      |  卡片一览
    hr