if (message && message.length > 0)
  .alert.alert-info.alert-dismissable
    button.close(data-dismiss="alert", aria-hidden="true") &times;
    | #{message}
if (success && success.length > 0)
  .alert.alert-success.alert-dismissable
    button.close(data-dismiss="alert", aria-hidden="true") &times;
    | #{success}
if (error && error.length > 0)
  .alert.alert-danger.alert-dismissable
    button.close(data-dismiss="alert", aria-hidden="true") &times;
    | #{error}

//- 可替代方案
//- if messages.error
//-   .alert.alert-danger
//-     div= messages.error
//- if messages.info
//-   .alert.alert-info
//-     div= messages.info
//- if messages.success
//-   .alert.alert-success
//-     div= messages.success