extends ../layout

append scripts
  script(type="text/javascript", src="/javascripts/jquery.qrcode.min.js")
  script.
    $(function () {
      $('#qrcode').qrcode({
        width: 512,
        height: 512,
        text: "http://www.baidu.com"
      });
    });

block content
  .container
    .text-center
      #qrcode(style="display: inline-block")