extends layout

block content
  .container
    .row
      .col-lg-12
        h1.text-center.text-danger(style="font-size: 10em; font-weight: 100;") 404
        h3.lead.text-center 页面不存在 ( @ _ @ )
    .row
      .col-xs-12.col-sm-2.col-sm-offset-5
        a.btn.btn-primary.btn-block.text-center(href="/") 返回首页
    .row(style="margin-top: 100px")
      .col-lg-12
        ul.list-unstyled.text-center
          li: span 输入的地址不正确
          li: span 你所查看的页面无法浏览或已经不存在
          li: span 页面重定义或程序出错