extends layout

block content
  .container.page
    h3.text-center: i.fa.fa-pencil-square-o
      |  填写名片内容
    hr
    form(action="/card", method="post")
      .form-group
        label(for="name") 姓名
        input.form-control(type="text", id="name", name="name", placeholder="", autofocus="autofocus", required)
      .form-group
        label(for="phone") 电话
        input.form-control(type="text", id="phone", name="phone", placeholder="")
      .form-group
        label(for="email") 电子邮箱
        input.form-control(type="email", id="email", name="email", placeholder="")
      .form-group
        label(for="site") 网址
        input.form-control(type="url", id="site", name="site", placeholder="")
      .form-group
        label(for="company") 公司
        input.form-control(type="text", id="company", name="company", placeholder="")
      .form-group
        label(for="position") 职位
        input.form-control(type="text", id="position", name="position", placeholder="")
      .form-group
        label(for="address") 地址
        input.form-control(type="text", id="address", name="address", placeholder="")
        hr
        button.btn.btn-primary.btn-block(type="submit") 创建
