doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0")
    - title = title ? title : '微名片'
    title= title
    block styles
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include includes/menu
    block content
    .clearfix
    footer
      .container
        p.text-center
          span.text-muted.copyright(style="font-family:arial;") &copy; 2014 HT Labs, All rights reserved.
    block scripts
      script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
      script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.min.js")
      script(type="text/javascript", src="/components/handlebars/handlebars.runtime.min.js")
      script(type="text/javascript", src="/javascripts/templates.js")
    script(type="text/javascript", src="/javascripts/script.js")