extends layout

block content
  .container.page
    h3.text-center 填写验证码
    hr
    form(action="/validate", method="post", role="form")
      .form-group
        input.form-control(type="text", name="code", placeholder="请输入制作码")
      button.btn.btn-success.btn-block(type="submit")
        | 验证&nbsp;
        i.fa.fa-key