extends ../layout

block content
  .container
    .col-sm-6.col-sm-offset-3
      include ../includes/message

      h1
        span.fa.fa-sign-in
        |  会员登录
      br
      form(action="/user/signin", method="post")
          .form-group
            label 账号
            input.form-control(type="email", name="email", placeholder="请输入登录邮箱", autofocus)
          .form-group
            label 密码
            input.form-control(type="password", name="password", placeholder="请输入密码")
          button.btn.btn-warning.btn-lg(type="submit", title="点击按钮登录账户") 登 录
          | &nbsp;&nbsp;&nbsp;&nbsp;
          | 还没有账号&nbsp;&nbsp;
          a.btn.btn-default(href='/user/signup', title="点击注册会员") 立即注册&nbsp;
              //- i.fa.fa-arrow-circle-right.text-success
      hr
      p.small
        a(title="点击链接重置密码") 忘记登录密码&nbsp;
          i.fa.fa-question