* {
  /*border: 1px solid red;*/
}

/*#qrcode {
  display: inline-block;
  margin: 10px 2px;
  padding: 5px;
}*/

/*.contact{ background-position:top right; background-repeat:no-repeat; background-color: rgba(0,0,0,.8);  overflow:hidden; padding:10px; position:relative;}*/

/*.contact { background-color: rgba(0,0,0,.8); color: white; border-bottom: 2px solid #eba443}
.contact h2{ font-size:24px; line-height:30px; display:block; font-weight:normal; margin:10px 0;}
.contact h2 span{ font-size:16px; margin-left:10px; font-weight:normal}
.contact p.company{ line-height:25px; font-size:14px; color:#eba443}
.contact ul{ margin:15px 0; overflow:hidden; padding: 0;}
.contact ul li{ float:left; font-size:14px; height:25px;white-space:nowrap; margin-bottom:3px; line-height:25px; overflow:hidden}
.contact ul li img{ width:25px; height:25px; margin-right:5px; display:inline; float:left;}
.contact ul li.address{ width:100%; float:none;}
.contact ul li i { color: #eba443 }*/

body {
  /*padding-top: 80px;*/
}

.jumbotron {
  margin: 60px 0 60px 0;
  /*background-color: rgba(255, 255, 255, 0.9);*/
}

footer {
  width: 100%;
  margin-top: 60px;
}

footer .copyright {
  font-size: 1.1em;
}

form .input-error {
  display: inline-block;
  margin: 10px 0 0 0;
}

/**
 * Licenses
 */

#licenses h3 small {
  margin-left: 5px;
}

.img_placehoder {
  min-width: 200px;
  min-height: 200px;
  /*padding: 100px;*/
  border: 1px dashed black;
}

.jcrop-holder {
  float: right !important;
}

@media only screen and (max-width: 767px) {
  #imgarea {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
  .jcrop-holder {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
}
