body {
  background-color: rgba(236, 240, 241,1.0);
  /*font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;*/
  /*font-family: Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', '微软雅黑', Arial, sans-serif;*/
  color: #2c3e50;
}

h1, h2, h3 {
  /*font-family: Helvetica, STKaiti, Kaiti, 'Microsoft Yahei', 'Hiragino Sans GB', '微软雅黑', Arial, sans-serif;*/
}

.blur {
    -webkit-filter: blur(2px); /* Chrome, Opera */
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
            filter: blur(2px);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
}

.top_bg {
  /*background-color: rgba(22, 160, 133,1.0);*/
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 300px;
  float: left;
  position: fixed;
  top: 0;
  z-index: -10;
}

.container-fluid .row, .container .row, footer {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 30px;
}

footer > .container {
  width: 100%;
}

.container-fluid.head {
  margin-top: 180px;
}

img.avatar {
  width: 140px;
  height: 140px;
  margin-top: -170px;
  border: none;
}

.contact > p {
  overflow: hidden;
}

.drop_line {
  border-bottom: 1px solid #dadde3; box-shadow: #fdfdfe 0 1px;
}

.space {
  padding: 5px;
}

address span {
  font-size: 1.2em;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .container-fluid.head {
    margin-top: 300px;
  }

  .top_bg {
    padding-top: 400px;
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 1.1em;
  }

  a {
    color: black;
  }

  .name {
    /*position: relative;*/
    /*top: 24px;*/
    margin-top: 24px;
  }

  .container-fluid .row, .container .row, footer {
    padding-top: 20px;
  }

  .head .row {
    /*border-top: 2px solid #16a085;*/
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 100px rgba(44, 62, 80, .5);
  }

}